.interface__results {
  /* background-color: rgba(69, 123, 157, 0.2); */
  width: calc(50% - 2rem);
  border-radius: 5px;
  overflow: auto;
  max-height: 420px;
}
.results__content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.results__list__item {
  background-color: rgba(168, 218, 220, 0.2);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  color: #f1faee;
  font-size: 1.4em;
}

.results__entity {
  padding-bottom: 0.5rem;
  font-size: 0.8em;
  display: flex;
}

.results__entities__list {
  /* margin: 0; */
  padding: 0rem;
  display: block;
}

.results__entity {
  padding: 0.5rem;
}

.results__entity:nth-child(odd) {
  background-color: rgba(168, 218, 220, 0.2);
}

.results__entity__text {
  width: 50%;
  padding-right: 1rem;
}
.results__entity__type {
  width: 50%;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .interface__results {
    width: 100%;
    margin-top: 2rem;
  }
}
