.results {
  /* background-color: rgba(69, 123, 157, 0.2); */
  width: calc(50% - 2rem);
  border-radius: 5px;
  overflow: auto;
  max-height: 420px;
}
.results__content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.results__list__item {
  background-color: rgba(168, 218, 220, 0.2);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  color: #f1faee;
  font-size: 1.4em;
}
