.interface__input {
  width: calc(50% - 2rem);
}

.input__type {
  display: flex;
  padding-bottom: 2rem;
}

.input__area {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .interface__input {
    width: 100%;
  }
}
