.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  padding: 2rem;
  width: 1024px;
}

.interface {
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 480px) {
.app{
  display:block;
  height:auto;
}
.main{
  max-width:calc(100% - 4rem);
}
.interface{
  flex-wrap:wrap;
}
}