.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  padding: 2rem;
  width: 1024px;
}

.interface {
  display: flex;
  justify-content: space-between;
}
